{% extends 'base.html.twig' %}

{% block title %}Omra index{% endblock %}
{% block js %}
	<!-- Theme JS files -->
	<script src="{{ asset('global_assets/js/plugins/tables/datatables/datatables.min.js') }}"></script>
	<script src="{{ asset('global_assets/js/plugins/forms/selects/select2.min.js') }}"></script>


	<script src="{{ asset('global_assets/js/demo_pages/datatables_basic.js') }}"></script>
{% endblock %}

{% block body %}
<div class="content">
   <div class="card-header header-elements-inline" style="background-color:RoyalBlue">
						<h3 class="card-title" style="color:white">Omra</h3>
						<div class="header-elements">
							<a class="btn btn-primary" href="{{ path('omra_new') }}" style="width:100px" align="right" ><i class="icon-add"></i> Ajouter</a>
	                	</div>
					</div>
   

    <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Comprend</th>
                <th>Ne comprend pas</th>
                <th>Prix à partir</th>
                <th>actions</th>
               
            </tr>
        </thead>
        <tbody>
        {% for omra in omras %}
            <tr>
                <td>{{ omra.id }}</td>
                 <td>{{ omra.titre }}</td>
                <td>{{ omra.description }}</td>
                 <td>{{ omra.comprend }}</td>
                  <td>{{ omra.necomprendpas }}</td>
                   <td>{{ omra.prixapartir }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('omra_edit', {'id': omra.id}) }}"style="width:100px"><i class="icon-pencil"></i> Modifier</a>
                   
                    {{ include('omra/_delete_form.html.twig') }}
                </td>
                  <td>
                    <a class="btn btn-primary" href="{{ path('omra_show', {'id': omra.id}) }}"style="width:100px">Reserver</a>
               </td>
            </tr>
            
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
