{% extends 'base.html.twig' %}

{% block title %}VoyageOrganiser index{% endblock %}
{% block js %}
	<!-- Theme JS files -->
	<script src="{{ asset('global_assets/js/plugins/tables/datatables/datatables.min.js') }}"></script>
	<script src="{{ asset('global_assets/js/plugins/forms/selects/select2.min.js') }}"></script>

	<script src="{{ asset('global_assets/js/demo_pages/datatables_basic.js') }}"></script>
{% endblock %}

{% block body %}
<div class="content">
   <div class="card-header header-elements-inline" style="background-color:RoyalBlue">
						<h3 class="card-title" style="color:white">Voyage Organisé</h3>
						<div class="header-elements">
							<a class="btn btn-primary" href="{{ path('voyage_organiser_new') }}" style="width:100px" align="right" ><i class="icon-add"></i> Ajouter</a>
	                	</div>
					</div>
   

    <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Pays</th>
                <th>Comprend</th>
                <th>Ne comprend pas</th>
                <th>Prix à partir</th>
                <th colspan>actions</th>
                <th></th>
               
            </tr>
        </thead>
        <tbody>
        {% for voyage_organiser in voyage_organisers %}
            <tr>
                <td>{{ voyage_organiser.id }}</td>
                <td>{{ voyage_organiser.titre }}</td>
                <td>{{ voyage_organiser.description }}</td>
                  {% for o in voyage_organiser.pays %}
                   <td>{{ o.nom}}</td>
                  {% endfor %}
                <td>{{ voyage_organiser.comprend }}</td>
                <td>{{ voyage_organiser.necomprendpas }}</td>
                <td>{{ voyage_organiser.prixapartir }}</td>
                

                <td>
                    
                    <a class="btn btn-primary"  href="{{ path('voyage_organiser_edit', {'id': voyage_organiser.id}) }}"style="width:100px"><i class="icon-pencil"></i>Modifier</a>
                   
                    {{ include('voyage_organiser/_delete_form.html.twig') }}
                     
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('voyage_organiser_show', {'id': voyage_organiser.id}) }}"style="width:100px"></i> Reserver</a>
               </td>
            </tr>
            
     
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
