{% extends 'base.html.twig' %}

{% block title %}Edit Randonnee{% endblock %}

{% block body %}
   <div class="content">
   <div class="card-header header-elements-inline" style="background-color:RoyalBlue">
						<h3 class="card-title" style="color:white">Modifier Randonnée</h3>
						<div class="header-elements">
							 <a class="btn btn-primary" style="width:100px" href="{{ path('randonnee_index') }}"><i class="icon-file-text2"></i> Liste </a>
	                	</div>
					</div>
     <!-- Basic layout-->
						<div class="card">
							

							<div class="card-body">
							
									 {{ include('randonnee/_form.html.twig', {'button_label': 'Update'}) }}

                                      

                                      
							</div>
						</div>
						<!-- /basic layout -->
                        <!-- Theme JS files -->
	<script src="{{ asset('global_assets/js/plugins/forms/selects/select2.min.js') }}"></script>
	<script src="{{ asset('global_assets/js/plugins/forms/styling/uniform.min.js') }}"></script>


	<script src="{{ asset('global_assets/js/demo_pages/form_layouts.js') }}"></script>
	<!-- /theme JS files -->

   </div>
{% endblock %}
