{% extends 'base.html.twig' %}

{% block title %}New Croissiére{% endblock %}
{% block js %}
	<!-- Theme JS files -->
	<script src="{{ asset('global_assets/js/plugins/tables/datatables/datatables.min.js') }}"></script>
	<script src="{{ asset('global_assets/js/plugins/forms/selects/select2.min.js') }}"></script>

	<script src="{{ asset('assets/js/app.js') }}"></script>
	<script src="{{ asset('global_assets/js/demo_pages/datatables_basic.js') }}"></script>
{% endblock %}
{% block body %}
<div class="content">
 <div class="card-header header-elements-inline" style="background-color:RoyalBlue">
						<h3 class="card-title" style="color:white">Création Croissiére</h3>
						<div class="header-elements">
							 <a class="btn btn-primary" style="width:100px" href="{{ path('croissiere_index') }}"><i class="icon-file-text2"></i> Liste </a>
	                	</div>
					</div>
  <!-- Basic layout-->
	<div class="row">
	        <div class="col-md-4">
						<div class="card">	
							<div class="card-body">
							{{ form_start(form) }}
                            {{ form_widget(form) }}
 
                             <button class="btn btn-primary" style="width:100px;background-color:ForestGreen" ><i class="icon-floppy-disk"></i> {{ button_label|default('Valider') }}</button>
                             {{ form_end(form) }}
							</div>
						</div>
		    </div>  
            {% if formgrille is defined %}
    <div class="col-md-8">
	<div class="content">
   <div class="card-header header-elements-inline" style="background-color:RoyalBlue">
						<h3 class="card-title" style="color:white">Grille Tarifaire</h3>
						<div class="header-elements">
							 <a href="#" data-toggle="modal" data-target="#grilles"class="btn btn-primary" style="width:100px"><i class="icon-add" ></i> Ajouter</a>
	                	</div>
					</div>
	    <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Description</th>
                <th>Prix</td>
                <th>Hotel</td>
                <th colspan="2">Photos Hotel</td>
                <th >action</th>
            </tr>
        </thead>
        <tbody>
        {% for grilletarifaire in croissiere.grilletarifaires %}
            <tr>
                <td>{{ grilletarifaire.id }}</td>
                <td>{{ grilletarifaire.datedebut|date('Y/m/d') }}</td>
                <td>{{ grilletarifaire.datefin|date('Y/m/d') }}</td>
                <td>{{ grilletarifaire.description }}</td>
                <td>{{grilletarifaire.prix}}</td>
                {% for g in grilletarifaire.hotelgrille %}
                <td>{{g.nom}}</td>
                 {% endfor %}
                 {% for a in grilletarifaire.hotelgrille %}
                   {% for b in a.photo %}
          <td><img width="50px" height="50px" src="/{{b}}"></td>
                    {% endfor %}
                {% endfor %}
                <td>
                 <div class="modal fade" id="supprimer_grilletarifaire_{{ grilletarifaire.id }}" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>Suppression</h4>
                        <p>Êtes-vous sûr de vouloir supprimer  ? {{ grilletarifaire.datedebut|date('Y/m/d') }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnNo" data-dismiss="modal">
                            <i class="fa fa-ban" aria-hidden="true"></i> Annuler
                        </button>
                        <a href= "{{ path('grille_tarifaire_del', {'id': grilletarifaire.id}) }}" class="btn w-sm btn-danger remove_item">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>   
                  <a style="width:100px;background-color:Red" data-toggle="modal" href="#supprimer_grilletarifaire_{{ grilletarifaire.id }}" class="btn btn-danger"><i class="icon-cross2"></i> Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

		{{ form_start(formgrille, {'attr': {'novalidate': 'novalidate','class': 'col-lg-12' }})}}
	<div id="grilles" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 840px">
		 <div class="card-body">
            <div class="form-group row">
                <label class="col-lg-2 col-form-label font-weight-semibold">Date Début</label>
                            {{ form_widget(formgrille.date_debut,{'attr': {'required' :'required','class': 'form-control col-lg-4','placeholder':'datedebut'}}) }}</div>
			
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label font-weight-semibold">Date Fin</label>
							  {{ form_widget(formgrille.date_fin, {'attr': {'required' :'required','class': 'form-control col-lg-4','placeholder':'datefin'}}) }}</div>
            
			            <div class="form-group row">
                            <label class="col-lg-2 col-form-label font-weight-semibold">Description</label>
							  {{ form_widget(formgrille.description, {'attr': {'required' :'required','class': 'form-control col-lg-4','placeholder':'description'}}) }}</div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label font-weight-semibold">Prix</label>
							  {{ form_widget(formgrille.prix, {'attr': {'required' :'required','class': 'form-control col-lg-4','placeholder':'prix'}}) }}</div>
                        <div class="form-group row">
                             <label class="col-lg-2 col-form-label font-weight-semibold">Hotel</label>
							  {{ form_widget(formgrille.hotelgrille, {'attr': {'required' :'required','class': 'form-control col-lg-4','placeholder':'hotelgrille'}}) }}</div>  
           
				        <button type="submit" class="btn bg-success">Valider <i class="icon-checkmark ml-2"></i></button>
		    </div>
                          
		</div>
	</div>
    </div>  
        {{ form_end(formgrille) }}

	 </div>
	 {% endif %}
 </div>
    </div>
						<!-- /basic layout -->
    
    
{% endblock %}
