{% extends 'base.html.twig' %}

{% block title %}AgenceVoyage{% endblock %}
{% block js %}
	<!-- Theme JS files -->
	<script src="{{ asset('global_assets/js/plugins/tables/datatables/datatables.min.js') }}"></script>
	<script src="{{ asset('global_assets/js/plugins/forms/selects/select2.min.js') }}"></script>

	
	<script src="{{ asset('global_assets/js/demo_pages/datatables_basic.js') }}"></script>
{% endblock %}


{% block body %}
<div class="content">
   <div class="card-header header-elements-inline" style="background-color:RoyalBlue">
						<h3 class="card-title" style="color:white">Agence de Voyage</h3>
						<div class="header-elements">
							<a class="btn btn-primary" href="{{ path('agence_voyage_new') }}" style="width:100px" align="right" ><i class="icon-add"></i> Ajouter</a>
	                	</div>
					</div>
	
	
 
  <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
  
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Numtel</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agence_voyage in agence_voyages %}
            <tr>
                <td>{{ agence_voyage.id }}</td>
                <td>{{ agence_voyage.nom }}</td>
                <td>{{ agence_voyage.description }}</td>
                <td>{{ agence_voyage.numtel }}</td>
                <td>{{ agence_voyage.email }}</td>
                <td>{{ agence_voyage.adresse }}</td>
                <td>
                    
                    
                     <a class="btn btn-primary" href="{{ path('agence_voyage_edit', {'id': agence_voyage.id}) }}" style="width:100px"><i class="icon-pencil"></i> Modifier</a>
                     
                     {{ include('agence_voyage/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
   </div>
{% endblock %}

