{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}
    <h1>Pays</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pay.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pay.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ pay.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ pay.photo }}</td>
            </tr>
        </tbody>
    </table>

    <a   class="btn btn-primary" style="width:100px" href="{{ path('pays_index') }}"><i class="icon-undo2"></i> back to list</a>

    <a  class="btn btn-primary" style="width:100px" href="{{ path('pays_edit', {'id': pay.id}) }}"><i class="icon-pencil"></i> edit</a>

    {{ include('pays/_delete_form.html.twig') }}
{% endblock %}
